/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1C1C28;
}

header {
  background-color: #1C1C28;
  height: 190PX;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 600px;
  width: 500px;
  height: 200px;

  border-radius: 20px;
  background-color: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top:
}

h1 {
  margin: 0;
  color: #E61D00;
}

.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.movie-details {
  display: flex;
  color:white;
  flex-direction: column;
  flex: 1; /* Ocupa o espaço disponível */
}

.movie-details p {
  margin-top: 5px; /* Ajuste conforme necessário */
  font-size:20px;
}

.movie-details h2{
  color: #E61D00;
  font-size:35px;
}

#movie-input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  color: rgb(0, 0, 0);
  border-radius: 5px 0 0 5px;
  background-color: rgb(255, 255, 255);
  outline: none;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.267);
}

.movie-container {
  display:flex;
  grid-template-columns: 1fr 300px; /* Altere este valor conforme necessário */
  grid-column-gap: 20px; /* Ajuste conforme necessário */
  margin-bottom: 20px;
  margin-top:40px;
  margin-left: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px; /* Adicione um espaçamento opcional entre os filmes */
}

.movie-container img {
  border-radius: 15px; /* Valor do raio para arredondar a imagem */
  margin-bottom:20px;
}

button {
  padding: 8px 20px;
  background-color: #4f4f4f;
  box-shadow: 1px 1px 10px 2px rgb(114, 114, 114);
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:hover {
  padding: 8px 20px;
  background-color: #007bff86;
  border: #ccc 1px solid;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.267);
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.main {
  padding: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-container h3 {
  text-align: center;
  width: 100%;
}

.image-container img {
  margin: 10px;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}